<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josue´s Portadolio</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="split">
		<nav class="pane nav">
			<ul class="main-nav">
				<li><a href="#">ANGULAR <span>Basic experience with Angular</span></a></li>
				<li><a href="#">HTML / CSS / JS <span>User friendly interface</span></a></li>
				<li><a href="#">NODE JS / Bootstrap <span>Basic use</span></a></li>
			</ul>
		</nav>
		<div class="pane profile">
			<div class="about-me">
				<img class="avatar" src="/images/josue.jpg" alt="">
				<h1>It´s Josue</h1>
				<p class="intro">I am a student in Computer Systems Engineering, I really like to design, as well as I love to program, I am an advisor in the subjects of programming logic and higher algebra for engineering.</p>
				<div class="follow-me">
					<ul class="networks">
						<li><span>Where can you find me:</span></li>
						<li><a href="https://www.facebook.com/josue.vazquezfranco" title="Codepen"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://github.com/josuevfranco" title="Github"><i class="fa fa-git"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>